@import 'public';

* {
    margin: 0px;
    padding: 0px;
}
// 优化显示
html, body {
    margin: 0px;
    height: 100%;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    #app {
      @extend %full;
      a {
        text-decoration: none;
      }
      .components-container {
        margin: 10px 15px;
        position: relative;
        height: 100vh;
      }

      .height-all {
        height: 100%;
      }

      .el-card {
        height: 100%;
      }

    }
}
